@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('/mini-projeto.html/fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root{
    --cor01: #C7EADA;
    --cor02: #81E0AE;
    --cor03: #46D784;
    --cor04: #38A86F;
    --cor05: #82A790;
    --cor06: #093E26;

    --font-padrao: Arial, Verdana, Helvetica, sans-serif; 
    --font-destaque: 'Bebas Neue', cursive;
    --font-android: 'Android', cursive;
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: var(--cor01);
    font-family: var(--font-padrao);
}

p{
    margin: 10px 0px;
}
header{
    background-image: linear-gradient(to bottom, var(--cor03), var(--cor05));
    text-align: center;
    height: 150px;
    padding-top: 40px;
}
header > h1{
    color: white;
    font-family: var(--font-destaque);
    margin-bottom: 10px;
    font-size: 2.5em;
    
}
header > p{
    color: white;
    font-size: 1.2em;
    max-width: 600px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}
nav{
    background-color: var(--cor05);
    padding: 10px;
}
nav a{
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 15px 15px 0px 0px;    
    transition-duration: .5s;
}
nav > a:hover{
    background-color: var(--cor01);
    color: #093E26;
}
main{
    background-color: white;
    max-width: 850px;
    min-width: 300px;
    margin: auto;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 30px;
}
main > h1 {
    color: var(--cor06);
    font-family: var(--font-android);
}
main h2 {
    font-family: var(--font-android);
    background-image: linear-gradient(to right, var(--cor01), transparent);
    text-indent: 10px;
}
main p{
    text-indent: 30px;
    line-height: 2em;
}
main strong{
    font-weight: bold;
    padding: 2px 5px;
    color:var(--cor03);
}
main a{
    padding: 2px 5px;
    color: #38A86F;
    text-decoration: none;
    font-weight: bold;
}
main a:hover{
    text-decoration: underline;
}
main img{
    width: 100%;
    border-radius: 10px;
}
main img.pequeno{
    display: block;
    max-width: 350px;
    margin: auto;
}
div.video{
    background-color: var(--cor06);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 59%;
    position: relative;
}
div.video > iframe{
    position: absolute;
    top: 2%;
    left: 2.6%;
    width: 95%;
    height: 95%;
}
aside{
    background-color: #81E0AE;
    border-radius: 15px;
    padding: 10px;
}
aside > h3{
    border-radius: 15px 15px 0px 0px;
    padding: 10px;
    background-color:var(--cor05);
    margin: -10px -10px 0px -10px;

}
aside > ul{
    columns: 2;
    list-style: inside;
}
footer{
    background-color: var(--cor06);
    color: white;
    text-align: center;
    padding: 2px;
    font-size: .8em;
}